<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Middle Earth Mortgage Platform">
  <meta name="author" content="Telperion Scientific">
  <title>APP_NAME</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'assets/img/brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  {% block extrastyle %}{% endblock extrastyle %}
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}" type="text/css">
</head>

<body class="{% block body %}bg-white{% endblock body %}">

  <!-- Navigation -->
{#  {% block header %}#}
{#    {% include 'includes/navigation-auth.html' %}#}
{#  {% endblock header %}#}
  <!-- End Navigation -->

  <!-- Main content -->
  <div class="main-content">
    {% block content %}{% endblock content %}
  </div>
  <!-- End Main content -->

  <!-- Footer -->
  {% block footer %}
    {% include 'includes/footer-auth.html' %}
  {% endblock footer %}
  <!-- End Footer -->

  {% include 'includes/scripts.html' %}
  {% block extra_js %}{% endblock extra_js %}
</body>
</html>